<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/favicon.ico') }}"
    />
    <title>Deeplink</title>
  </head>
  <body>
    <h3 style="font-size: 4rem; text-align: center">
      Hello, <span style="text-transform: capitalize">{{ username }}</span>!
    </h3>

    <h4 style="font-size: 3rem; text-align: center">Welcome to Deeplink!</h4>
  </body>
</html>
